{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Auth.css' %}">
    <title>S'authentifier</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="contenair">
            <div class="box">
                <div class="header">
                    <header><img src="{% static 'img/images1.png' %}" alt=""></header>
                    <p>Se connecter</p>
                </div>
                <div class="input-box">
                    <label for="email">E-Mail</label>
                    <input type="email" class="input-field" id="email" name="email" required>
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <label for="pass">Mot de passe</label>
                    <input type="password" class="input-field" id="pass" name="password" required>
                    <i class="fa-regular fa-eye-slach"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="input-submit" id="submit" value="CONNEXION">
                </div>
                <div class="bottom">
                    <span><a href="#">Inscrivez-vous</a></span>
                    <span><a href="#">Mot de passe oublié ?</a></span>
                </div>
            </div>
            <div class="wrapper"></div>
        </div>
    </form>
</body>
</html>
